body {
	background-color: #efeff0;
	margin-top: 20px;
	font-family: 'PT Sans Narrow', sans-serif;
}

.navigation {
	padding-left: 40px;
	padding-right: 40px;
	width: 100%;
	height: 60px;
	background-color: #efeff0;
}

.name, .work, .about, .contact, .blog, .fa-user-secret {
	float: left;
	margin-right: 20px;
}

.fa-user {
	float: right;
}

p {
	font-size: 18px;
}


.intro-text {
	font-size: 20px;
}

.title {
	color: #292F36;
	font-family: 'Reenie Beanie', cursive;
	font-size: 60px;
}

.intro {
	width: 400px;
	margin: 0 auto;
}

.box {
	border-color: #292F36;
	height: 100%;
	background-color: #4ECDC4;
    padding: 0px;
    position: relative;
}

img {
	max-width:100%;
	max-height:100%;
	margin: 0 auto;
}

a:hover .over {
    display: block;
    animation-duration: 0.3s;
}

.over {
	padding-top: 30px;
	padding-right: 20px;
	padding-left: 20px;
	display: none;
	position: absolute;
	background-color: #fff;
	top: 15%;
	left: 0; 
  	right: 0; 
  	margin-left: auto; 
  	margin-right: auto; 
  	width: 75%;
  	height: 70%;
}








/* Responsive mobile */

/*@media screen and (max-width: 699px) and (min-width: 320px) {
	

}*/
